[Unit]
Description=MinimServer

[Service]
EnvironmentFile=/etc/conf.d/minimserver
ExecStart=/usr/bin/minimserver
WorkingDirectory=/usr/lib/minimserver
User=minim
Group=minim
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=network.target
WantedBy=multi-user.target
